#Editor Files
.vscode
.idea
cmake-build-debug
# Latex
*.aux
*.log
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
#Testing Tools
GoogleTest-Master
#Libraries
*.a
#Compiled Objects
*.o
#Executables
*.out
*.exe
#Documentation
*html
#Others
*.sinLineasVacias
