#Editor Files
.vscode
.idea
cmake*
CMake*
# Latex
*.aux
*.log
*.toc
*.synctex.gz
*main.pdf
#Testing Tools
GoogleTest-Master
#Libraries
*.a
#Compiled Objects
*.o
#Executables
*.out
#Documentation
*html
